name: Run Tests on Git Push

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'  # Укажите требуемую версию Python

    # Установка Xvfb
    - name: Install Xvfb
      run: sudo apt update && sudo apt install xvfb x11-utils

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install playwright
        playwright install

    # Запуск тестов с использованием Xvfb
    - name: Run tests
      run: |
        xvfb-run pytest -v tests/
